# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://db-user:1234@localhost:5432/development?schema=public"
EMAIL_FROM="noreply@example.com"
SMTP_SERVER_ADDRESS="mail.example.com"
SMTP_SERVER_PORT="465"
SMTP_SERVER_USERNAME="noreply@example.com"
SMTP_SERVER_PASSWORD="password"
SCRIPTORIA_API_TOKEN="API_TOKEN"
SCRIPTORIA_API_URL="API_URL"