DATABASE_URL="postgres://db-user:1234@postgres:5432/test?schema=public"
EMAIL_FROM="noreply@example.com"
SMTP_SERVER_ADDRESS="mail.example.com"
SMTP_SERVER_PORT="465"
SMTP_SERVER_USERNAME="noreply@example.com"
SMTP_SERVER_PASSWORD="password"